.skills {
  background-color: var(--md-sys-color-on-primary-fixed-variant);
  padding: 4rem 1rem;

  h2 {
    font-size: 32px;
    text-align: center;
    margin: 0;
  }

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-gap: 1rem;
    padding: 0;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    width: 100%;
  }

  .skill {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    justify-items: start;
    height: 4rem;

    @media (min-width: 768px) {
      width: 40rem;
    }

    progress[value] {
      --color: var(--md-sys-color-secondary); /* the progress color */
      --background: var(--md-sys-color-on-secondary); /* the background color */
      --border-radius: 10em;

      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: none;
      width: 100%;
      border-radius: var(--border-radius);
      background: var(--background);
    }
    progress[value]::-webkit-progress-bar {
      border-radius: var(--border-radius);
      background: var(--background);
    }
    progress[value]::-webkit-progress-value {
      border-radius: var(--border-radius);
      background: var(--color);
    }
    progress[value]::-moz-progress-bar {
      border-radius: var(--border-radius);
      background: var(--color);
    }

    label {
      font-size: 16px;
      display: block;
      margin: 0.8rem 0;
    }
  }
}
