.projects {
  .container {
    width: 100vw;
    display: flex;

    .slide {
      flex-shrink: 0;
      width: 300px;
      flex: 0 0 100%;
      min-width: 0;
      user-select: none;

      h3,
      h4,
      p {
        color: var(--md-sys-color-on-surface);
      }

      h3 {
        font-size: 32x;
      }

      p {
        font-size: 16px;
      }

      img {
        width: 12rem;
        height: 12rem;
      }

      svg {
        height: 4rem;
        width: 4rem;
      }
    }
  }
}
