.projects {
  padding: 0;

  .container {
    width: 100vw;
    display: flex;

    .slide {
      width: 100vw;
      flex: 0 0 100%;
      user-select: none;
      background: var(--md-sys-color-secondary);
      margin: 1rem;

      @media (min-width: 768px) {
        flex: 0 0 40%;
        gap: 1rem;
      }

      h3,
      h4,
      p {
        color: var(--md-sys-color-on-secondary);
      }

      h3 {
        font-size: 32x;
      }

      p {
        font-size: 16px;
        margin: 2rem;
      }

      img {
        width: 12rem;
        height: 12rem;
      }

      svg {
        height: 4rem;
        width: 4rem;
        color: var(--md-sys-color-on-secondary);
      }
    }
  }
}
