.about {
  display: grid;
  grid-template-columns: 100%;

  img {
    width: 80%;
    height: auto;
  }

  .container {
    display: grid;
    grid-template-columns: 100%;
    justify-items: start;

    h2 {
      margin: 0;
      font-size: 3rem;
    }

    h3 {
      margin: 0;
      font-size: 1.5rem;
      font-weight: 200;
    }

    p {
      text-align: left;
    }
  }

  @media screen and (min-width: 768px) {
    grid-template-columns: min(50%, 46rem) 1fr;

    .container {
      margin: 0;
      margin-right: 5rem;
    }
  }
}
