.printable {
  position: relative;
  top: 0;
  left: 0;
  width: 1080px;
  height: 100%;
  color: #000000;
  background-color: #ffffff;
  border: none;

  section {
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: masonry;
    gap: 2rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: #000000;
  }
}

.about {
  display: grid;
  text-align: left;
  grid-template-columns: 30% auto;
  gap: 2rem;

  img {
    width: 100%;
    height: auto;
    margin: auto;
  }

  .profile {
    margin: auto 0;
    margin-right: 5rem;
  }
}
