.header {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: -5px;
  z-index: 2;
  height: 70px;
  min-height: 70px;
  width: 100%;
  background-color: var(--md-sys-color-surface);
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0 1rem;
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);

  a {
    font-size: 16px;
    line-height: 1.1;
    cursor: pointer;

    &:hover {
      line-height: 1.1;
    }
  }
}
