.header {
  display: flex;
  justify-content: end;
  position: -webkit-sticky;
  position: sticky;
  top: -5px;
  z-index: 2;
  height: 70px;
  min-height: 70px;
  width: 100%;
  background-color: var(--md-sys-color-surface);

  @media screen and (min-width: 768px) {
    justify-content: space-between;
  }
}

.nav {
  height: 100%;
  padding: 0 1rem;
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  a {
    font-size: 16px;
    cursor: pointer;
    user-select: none;

    &:hover {
      line-height: 1.1;
    }
  }
}
