@import url("./styles/themes/light.css");
@import url("./styles/themes/dark.css");

:root {
  font-family: Jost, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  place-items: center;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  max-width: 100vw;
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-background);
  overflow-x: hidden;
}

section {
  display: grid;
  place-items: center;
  max-width: 1080px;
  margin: 4rem auto;
  padding: 1rem;

  @media (min-width: 768px) {
    margin: 8rem auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  user-select: none;
  text-align: left;
  width: 100%;
  color: var(--md-sys-color-on-surface);
}

h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 200;
}

h3 {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.1em;
  width: auto;

  @media (min-width: 768px) {
    width: 100%;
  }
}

h4 {
  font-size: 24px;
  font-weight: 700;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media print {
  header,
  footer,
  aside,
  nav,
  form,
  iframe,
  .menu,
  .hide-on-print {
    display: none !important;
  }

  section {
    margin: auto;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--md-sys-color-surface) !important;
  }
}
